---
import MainLayout from "../layouts/MainLayout.astro";
import CardTrustpilot from "../components/CardTrustpilot.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
---

<MainLayout title="Titel">
  <article>
    <h1>Index overskrift</h1>

    <p>Link til <Link href="https://www.kea.dk" target="_blank">En anden side</Link></p>
    <Image src={thumbsup} alt="" />
  </article>
  <section><CardTrustpilot image="/trustpilot/image-1.png" navn="Mikkel" text="Hello hello" /></section>
</MainLayout>
