---
import MainLayout from "../layouts/MainLayout.astro";
import CardTrustpilot from "../components/CardTrustpilot.astro";
import CardTips from "../components/CardTips.astro";
import CardProduct from "../components/CardProduct.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import fragt from "../assets/images/icons/fragt.svg";
import binding from "../assets/images/icons/binding.svg";
---

<MainLayout title="Titel">
  <section id="hero"></section>
  <section id="abonnement">
    <h2 class="font-display font-bold text-mobile_m md:text-m text-brown-800">Find dit abonnement</h2>
  </section>
  <section id="om" class="bg-brown-100">
    <article>
      <h2 class="font-display font-bold text-mobile_m md:text-m text-brown-800">Om et ØNSK abonnement</h2>
      <p class="font-body font-regular text-mobile_base md:text-base text-brown-800">Med et abonnement på ØNSK kaffe får du hver måned leveret friskristede, økologiske kaffebønner eller kapsler direkte til din dør.</p>
      <p class="font-body font-regular text-mobile_base md:text-base text-brown-800">Abonnementet er fleksibelt, så du nemt kan ændre din levering eller sætte det på pause, når det passer dig. Det gør det enkelt at nyde kvalitetskaffe derhjemme uden at løbe tør.</p>
    </article>
    <article class="grid grid-cols-2">
      <div class=""><Image src={binding} alt="" /><h3 class="font-display font-bold text-mobile_xs md:text-xs text-brown-800">Ingen binding</h3></div>
      <div><Image src={fragt} alt="" /><h3 class="font-display font-bold text-mobile_xs md:text-xs text-brown-800">Gratis fragt</h3></div>
    </article>
  </section>
  <section>
    <article>
      <h2>Kvalitet i Hver Eneste Detalje</h2>
      <p>Hver bønne, vi rister, bærer på en historie. En historie om håndværk, passion og dedikation.</p>
      <p>Som certificeret B Corp sætter vi bæredygtighed og social ansvarlighed i fokus. Fra ansvarlige dyrkningsmetoder til præcisionsristning sikrer vi, at hver bønne lever op til de højeste standarder.</p>
    </article>
    <article>
      <h2>Smagsrejsen med ØNSK kaffe</h2>
      <p>Når du åbner en pakke ØNSK kaffe, træder du ind i en verden af smagsoplevelser.</p>
      <p>Fra den lette, frugtige friskhed, hvor du kan finde subtile noter af citrus og bær, til de mørkere, dybere nuancer med hints af chokolade, karamel og krydderier.</p>
    </article>
  </section>

  <section id="tester">
    <CardTrustpilot image="/trustpilot/image-1.png" navn="Mikkel" text="Hurtig leveringstid samt mulighed for at nyde min kaffe med god samvittighed og vide at jeg støtter en god sag." />
    <CardTrustpilot image="/trustpilot/image-1.png" navn="Johanne" text="Ubetinget kvalitetsprodukter, som har gjort mig til en begejstret og fast kunde - og produktambassadør." />
    <CardTrustpilot image="/trustpilot/image-1.png" navn="Rasmus" text="Det rigtige sted at handle for en kvalitetsbevidst kaffedrikker." />
    <CardTrustpilot image="/trustpilot/image-1.png" navn="Kim" text="ØNSK sørger for at flere penge går til dem, der producerer kaffen. Det er fantastisk. " />
    <CardTrustpilot image="/trustpilot/image-1.png" navn="Lia" text="Jeg har nu flere gange bestilt kaffe fra Ønsk, som altid er super lækkert og friskt." />
    <CardTrustpilot image="/trustpilot/image-1.png" navn="Simon" text="Utroligt billige friskristede af høj kvalitet. Abonnementet virker fortrinligt." />

    <CardTips image="/trustpilot/image-1.png" text="Latte art for begyndere" />

    <CardProduct image="/trustpilot/image-1.png" text="Latte art for begyndere" />
  </section>
</MainLayout>
