---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import Hero_undersider from "../components/Hero_undersider.astro";

import { Image } from "astro:assets";
// import hero_pattern from "../assets/images/hero_pattern.jpg";
import pattern from "../assets/images/om_os/pattern.svg";
import om_os_hero from "../assets/images/om_os/om_os_hero.svg";
import historie1 from "../assets/images/om_os/historie1.webp";
import historie2 from "../assets/images/om_os/historie2.webp";
import historie3 from "../assets/images/om_os/historie3.webp";
import beredygtighed1 from "../assets/images/om_os/beredygtighed1.webp";
import beredygtighed2 from "../assets/images/om_os/beredygtighed2.webp";
import kontakt1 from "../assets/images/om_os/kontakt1.webp";

// import hero_pattern from "../assets/images/hero_pattern.jpg";
// import hero_pattern from "../assets/images/hero_pattern.jpg";
---

<MainLayout title="Titel">
  <Hero_undersider overskrift="Vores team" illustration={om_os_hero} />

  <article class="px-20">
    <h1 class="text-mobile_l font-bold text-brown-800 pb-20">Ønsk’s historie</h1>
    <h2 class="text-mobile-xs font-semibold">Fra kaffeelskere til en bedre fremtid</h2>
    <p class="text-mobile-base font-regular">
      ØNSK blev grundlagt i 2017 af makkerparret Rasmus og Andreas, med et ønske om at skabe en anderledes kaffevirksomhed. Deres vision var at skabe en virksomhed, der ikke kun handlede om kvalitets kaffe, men også om at gøre en positiv forskel. For
      kaffebønderne, for kunderne og for planeten.
    </p>
    <Button>Klik!</Button>
    <p class="text-mobile-base">Link til <Link href="https://www.kea.dk" target="_blank">En anden side</Link></p>
    <!-- <Image src={hero_pattern.jpg} alt="" /> -->
  </article>
</MainLayout>
