---
import MainLayout from "../layouts/MainLayout.astro";
import CardTrustpilot from "../components/CardTrustpilot.astro";
import CardTips from "../components/CardTips.astro";
import CardProduct from "../components/CardProduct.astro";

import { Image } from "astro:assets";
import kuska from "../assets/images/produkter/kuska.webp";
import palto from "../assets/images/produkter/palto.webp";
import stempelkande from "../assets/images/produkter/stempelkande.webp";
---

<MainLayout title="Titel">
  <section id="tester">
    <CardTrustpilot image="/trustpilot/image-1.png" navn="Mikkel" text="Hurtig leveringstid samt mulighed for at nyde min kaffe med god samvittighed og vide at jeg støtter en god sag." />
    <CardTrustpilot image="/trustpilot/image-1.png" navn="Johanne" text="Ubetinget kvalitetsprodukter, som har gjort mig til en begejstret og fast kunde - og produktambassadør." />
    <CardTrustpilot image="/trustpilot/image-1.png" navn="Rasmus" text="Det rigtige sted at handle for en kvalitetsbevidst kaffedrikker." />
    <CardTrustpilot image="/trustpilot/image-1.png" navn="Kim" text="ØNSK sørger for at flere penge går til dem, der producerer kaffen. Det er fantastisk. " />
    <CardTrustpilot image="/trustpilot/image-1.png" navn="Lia" text="Jeg har nu flere gange bestilt kaffe fra Ønsk, som altid er super lækkert og friskt." />
    <CardTrustpilot image="/trustpilot/image-1.png" navn="Simon" text="Utroligt billige friskristede af høj kvalitet. Abonnementet virker fortrinligt." />
  </section>
  <section>
    <CardTips image="/trustpilot/image-1.png" text="Latte art for begyndere" />
  </section>
  <section>
    <CardProduct image={kuska} name="Kuska" variant="Mellem ristet" prize="95 kr. - 265 kr." badgerabat="true" />
    <CardProduct image={stempelkande} name="Bodum Stempelkande" variant="8 kopper" prize="420 kr." />
    <CardProduct image={palto} name="El Palto" variant="Mørk ristet" prize="95 kr. - 265 kr." />
  </section>

  <section></section>
</MainLayout>
