---
const { question = "", answer = "" } = Astro.props;
---

<details class="group border-b-s border-brown-800 py-xs">
  <summary class="font-body text-p font-bold flex items-center justify-between cursor-pointer py-4">
    {question}
    <span class="transition-transform group-open:rotate-180">
      <p>▼</p>
    </span>
  </summary>
  <article class="font-body text-brown-800 text-mobile_base md:text-base text-p pt-xs">{answer}</article>
</details>
