---
const { variant = "primary", size = "large" } = Astro.props;

const variantClasses = {
  primary: "",
  secondary: "",
};

const sizeClasses = {
  large: "",
  medium: "",
  small: "",
};
---

<div>
  <button class:list={[variantClasses[variant], sizeClasses[size]]}><slot /></button>
</div>
