---
const { text = "", image = "" } = Astro.props;
import { Image } from "astro:assets";
---

<a href="#">
  <article class="flex flex-col items-center gap-24 hover:drop-shadow-sm">
    <Image src={image} alt="" class="rounded-lg w-[200px] h-[215px] md:w-[286px] md:[308px] object-cover" />
    <h4 class="text-bordeaux-700 font-display text-mobile_s md:text-xs max-w-192 mx-auto text-center">{text}</h4>
  </article>
</a>
