---
import Button from "../components/Button.astro";
---

<section class="bg-brown-100 rounded-lg flex flex-col items-center justify-end w-[288px] h-[400px] flex-shrink-0 pb-40 px-40">
  <a href="#">
    <div class="z-10 pb-52"><img src="/Kuska.webp" alt="" class="w-[214px]" /></div>
    <article class="w-full pb-24">
      <h3 class="font-display font-semibold text-mobile_s md:text-xxs text-brown-800 pb-8">Cafe de Altures</h3>
      <p class="font-body font-regular text-mobile_base md:text-base_xs text-brown-800 pb-0">Mørk ristet</p>
      <p class="font-display font-semibold text-mobile_s md:text-xxs text-bordeaux-700 place-self-end">95kr. - 230 kr.</p>
    </article>
    <Button>Byg dit abonnement</Button>
  </a>
</section>
