---

---

<!-- <a href="#">
  <article class="bg-brown-100 rounded-lg flex flex-col items-center gap-52 w-[288px]">
    <div class="absolute z-10"><img src="/Kuska.webp" alt="" class="w-[227px]" /></div>
    <div class="pb-40 px-40 w-full">
      <h3 class="font-display font-semibold text-mobile_s md:text-xxs text-brown-800 pb-8">Cafe de Altures</h3>
      <p class="font-body font-regular text-mobile_base md:text-base_xs text-brown-800 pb-0">Mørk ristet</p>
      <p class="font-display font-semibold text-mobile_s md:text-xxs text-bordeaux-700 place-self-end">95kr. - 230 kr.</p>
    </div>
  </article>
</a>

<div class="bg-bordeaux-700 p-16 rounded-xs w-[58px]"><p class="font-body font-semibold text-mobile_base md:text-base_xs text-brown-50">10%</p></div>
 -->
<section class="bg-brown-100 rounded-lg flex flex-col items-center gap-52 w-[288px] flex-shrink-0">
  <a href="#">
    <div class="absolute z-10 bottom-4"><img src="/Kuska.webp" alt="" class="w-[227px]" /></div>
    <article>
      <h3 class="font-display font-semibold text-mobile_s md:text-xxs text-brown-800 pb-8">Cafe de Altures</h3>
      <p class="font-body font-regular text-mobile_base md:text-base_xs text-brown-800 pb-0">Mørk ristet</p>
      <p class="font-display font-semibold text-mobile_s md:text-xxs text-bordeaux-700 place-self-end">95kr. - 230 kr.</p>
    </article>
  </a>
</section>
