<article id="carousel" class="overflow-x-auto snap-x snap-mandatory bg-brown-100 px-40 rounded-l-lg">
  <div class="flex items-center gap-32 w-max h-full py-40">
    <slot />
  </div>
</article>

<style>
  /* Hide scrollbar but keep scroll functionality */
  #carousel::-webkit-scrollbar {
    display: none; /* Hide scrollbar in Webkit-based browsers (Chrome, Safari) */
  }

  #carousel {
    -ms-overflow-style: none; /* Hide scrollbar in IE10+ */
    scrollbar-width: none; /* Hide scrollbar in Firefox */
  }
</style>
