---
const { name = "", image = "", variant = "", prize = "" } = Astro.props;
import { Image } from "astro:assets";
---

<section class="group bg-brown-100 rounded-lg flex flex-col items-center justify-end w-[230px] h-[300px] flex-shrink-0 pb-40 px-40 hover:shadow-drop25 relative">
  <a href="#">
    <div class="z-10 pb-16"><Image src={image} alt="" class="w-[214px] group-hover:slide-top" /></div>
    <article class="w-full pb-24">
      <h3 class="font-display font-semibold text-mobile_s md:text-xxs text-brown-800 text-center">{name}</h3>
    </article>
  </a>
</section>
