---
const { variant = "primary", size = "large", href = "#", target = "_self" } = Astro.props;

const variantClasses = {
  primary: "bg-bordeaux-700 font-bold text-brown-50 border-lg rounded-lg border-bordeaux-700 hover:bg-transparent hover:text-bordeaux-700 hover:border-bordeaux-700 cursor-pointer",
  secondary: "text-base font-bold bg-transparent text-bordeaux-700 rounded-lg border-solid border-lg border-bordeaux-700 hover:bg-bordeaux-700 hover:text-brown-50 hover:border-bordeaux-700 cursor-pointer",
  menu_links: "text-mobile-xs md:text-xxs text-brown-800 hover:underline font-display cursor-pointer",
  links: "text-mobile-xs md:text-xs text-bordeaux-700 hover:underline font-display cursor-pointer",
};

const sizeClasses = {
  large: "py-24 px-64 text-base",
  small: "py-12 px-20 text-base_xs",
  none: "p-0",
};
---

<a href={href} target={target} class:list={[variantClasses[variant], sizeClasses[size]]}>
  <slot />
</a>
